@import "forecast.css";

.title {
  text-align: center;
  position: relative;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  padding-top: 20px;
  font-size: 30px;
  /* margin-left: 30px; */
}

.daily-container {

  display: flex;
  margin: 20px 0;
  justify-content: center;

}



.daily-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  height: 150px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}


.daily-item:hover {
  background-color: #f0f0f0;
}


.icon-small {
  width: 50px;
  height: 50px;
}


@media (max-width: 1150px) {
  .daily-container {
    flex-wrap: wrap;
    /* Allow cards to wrap to the next row */
    justify-content: flex-start;
    /* Align cards to start of flex container */
  }



  .icon-small {
    width: 40px;
    /* Adjust icon size for smaller screens */
    height: 40px;
  }

}